 @import "tailwindcss";

:root {
  --bg: #f8fafc;
  --text: #2d2639;
}

.dark {
  --bg: #110720;
  --text: #e0f2fe;
}

@font-face {
  font-family: Nunito;
  src: url("@/assets/fonts/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

::-webkit-scrollbar {
  background: rgba(156, 163, 175, 0.1);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.75);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

h1, h2, strong, button, div > a {
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.25px;
}
